{% extends "admins/dashbord.html" %}
{% load static %}

{% block show %}
<p>
    
  <h3><i>Dashboard</i></h3>
      <nav>
        <ol class="breadcrumb">
          {% comment %} <li class="breadcrumb-item"><a href="{% url 'home' %}"><i>Home Page</i></a></li> {% endcomment %}
          <li class="breadcrumb-item"><a href="{% url 'dashbord' %}"><i>Product Management</i></a></li>
          <li class="breadcrumb-item active"><i> Edit Category </i></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
   
    <div class="container">
       <div class="row">
        <div class="col-lg-5 offset-3">
          <div class="card mb-3">

            <div class="card-body">

              <div class="pt-4 pb-2">
                <h5 class="card-title text-center pb-0 fs-4"><i>Update Category</h5>
              </div>

              <form class="row g-3 needs-validation" method="post" >
                {% csrf_token %}
                <div class="col-12">
                  <label for="yourName" class="form-label">Name</label>
                  <input type="text" name="name"   value="{{rec.name}}" class="form-control" required>
                </div>
                <div class="col-12">
                  <label for="yourName" class="form-label">Description</label>
                  <input type="text" extarea class="form-control" style="height: 100px" name="des"  value="{{rec.feature}}" required></textarea>
                </div>
                <div class="col-12">
                  <a href="/category_edit/{{rec.id}}/">
                  <button class="btn btn-primary w-100" type="submit"><i>Save</i></button>
                  </a>
                </div>
              </form>

            </div>
          </div>
        </div>
       </div>
    </div>
  </p>
    {% endblock show %}
  